

div {
    display: block;
}

.navbar {
    background-color: rgb(51, 99, 121);    
}

.nav-item .nav-link:hover {
  /*  font-size: 17px; */
  border-right: 1px solid rgb(255, 255, 255);
}
.nav-item:hover{
   /* border-top: 1px solid rgb(255, 255, 255);  */
}
.navbar-nav{
    margin-left: 10px;
}  
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#demo-carousel{
    margin-top: 56px;
}

.panel-house{
   /* border: 1px solid rgb(204, 224, 243);    */
    border-radius: 6px;
    padding: 1px;
    background-color: #E9ECEF;
}

.panel-heading{
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 3px;
    padding-left: 5px;
    box-sizing: border-box;
    background: #E9ECEF;
}
.panel-footer{    
    background: #E9ECEF;
    height: 2.3em;

}

.price{
    margin-top: 8px;
    margin-left: 4px;
    font-size: 1,25em;
    line-height: 1em;
    color: #00b1c6;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

.left-price{
    margin-top: 5px;
}

.view-btn {
    margin-top: 5px;
}

.jumbotron{
    margin-top: 56px;
}
/*.textlogo {        
    position: absolute;
    top: 15%;
    left: 25%;
    color: rgb(39, 37, 37);
    face:"Georgia";
    font-size: 30px;
}*/
/* IMAGE OVERLAY HOVER */
.cont-hover {
    position: relative;
    width: 100%;    
  }
  
  .img-responsive {
    display: block;
    width: 100%;
    height: auto;
 }
  
  .overlay-house {    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .9s ease;
  }
  
  .cont-hover:hover .overlay-house {
    height: 100%;
    opacity: 0.85;
  }
  
  .text-overlay {
    text-align:center;  
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  /*END  IMAGE OVERLAY HOVER */

   /* SLIDEr */
  #panel-reserve, #flip-reserve {
    padding: 5px;
    text-align: center;
    background-color: #E9ECEF;
    border: solid 1px #E9ECEF;
}

#panel-reserve {
    padding: 50px;
    display: none;
}
#panel-reserve-house1-top, #flip-reserve-house1-top {
    padding: 5px;
    text-align: center;
    background-color: #E9ECEF;
    border: solid 1px #E9ECEF;
}

#panel-reserve-house1-top {
    padding: 50px;
    display: none;
}
#panel-reserve-house1-bot, #flip-reserve-house1-bot {
    padding: 5px;
    text-align: center;
    background-color: white;
    
}

#panel-reserve-house1-bot {
    padding: 50px;
    display: none;
}
/* SLIDER FORMS
........
....... */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/* change color of active input fot green */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}
/*END  change color of active input for green */
.slider-form-house {
    border-radius: 5px;
    background-color: #E9ECEF;
    padding: 20px;
}
.button-reserve {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 4px 4px 16px 0 rgba(0,0,0,0.14),0 7px 10px 0 rgba(0,0,0,0.07);
}

.button-reserve:hover{
    background-color: rgb(53, 155, 57);
   }

/* end SLIDEr
.............
........... */



/* ..............
...............
...........FOR HOUSE-?.HTML
....................
........... */
.header-house  {
    margin-top: 70px;
    border: 1px solid rgba(0,0,0,0.07);
    
}

.marg-img {
    margin-top: 13px;
}
.header-house img{
    width:100%;
    height:100%;
}
.about-house{
    background: #E9ECEF;
}
.house-description {
    border: 1px solid rgba(0,0,0,0.07);
    
}
h2 {
    display: block;
}
/* MODAL IMAGES ...............
.......................
...............*/

/* Modal Content (image) */
#myImg-house {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg-house:hover {opacity: 0.7;}

/* The Modal (background) */
.modal-house {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */    
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close-modal-house {
    position: absolute;
    top: 45px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close-modal-house:hover,
.close-modal-house:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/* END MODAL IMAGES
......................
...........................
.................................... */

/* START GALLERY */

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides-house {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 10px;
    border-radius: 3px 0 0 3px;
    color: white;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(107, 174, 202);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Remove bottom margin. Needed for some browsers */
  
  
  /* Container for image text */
  .caption-container-house {
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column-gallery {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo-house {
    opacity: 0.6;
  }
  
  .active,
  .demo-house:hover {
    opacity: 1;
  }


  /* END GALLERY 
  .........
  ...........
  ...............................*/
#contacts-image-header{
    background: url('../img/bg-contacts5.png') repeat-x;
    height: 138px;
}


  /* Nadiia */
  
  video { 
    width: 100% ;
    display: block;
    margin: 0 auto;
  }



.videotext {


    text-align: center;
    margin: 100px 20px 10px 30px;
    background-color: rgb(247,247,247);
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    color: rgb(43, 44, 40);
    
}

.videoimage{
 width: 150px;
 height: 150px;
 margin-top: 80%;
 

} 


.map-house {
    width: 90%;
    height: 350px;
    margin: 1% 3% auto;
}
   
.mapofice {
    width: 100%;
}
.maptur {
    width: 100%;
    height: 350px;
    margin: 1% auto;
}

.myscroll-info {
    padding: 1%;
    margin: auto;
    max-height:30rem;
    width:90%;
    border:none;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}

/*mandruj karpatamy*/
.style-mk {
    width: 100%;
    min-width:20rem;
    margin: 2% auto;
}

.style-mk-card-row {
    width: 100%;
    min-width:50%;
    padding: 3%
}
.text-mk {
    color: #585858;
    margin: 100px 10px  auto;
}
.text-mk-p {
    margin: 5% auto;
}
.img-mk {
    width: 100%;
    min-width: 20rem;
}


/*marshruty*/
.style-card-marshruty {
    padding: 2%;
}

.marshrut-style-span {
    font-size: 1em; 
    line-height: 1.5em;
}
.bg-homiak {
    width:100%; 
    height: 350px; 
    margin-top: 4%;
}
/*  marshruty index*/
.margin-card-marshruty {
    width: 95%;
    margin: 5% auto;
}

.margin-card-marshruty1 {
    margin: 5%;
}
/*text pasport*/
.rich_text blockquote {
    font-size: 1.125em;
    padding: 1.66667em;
    border: 1px solid #00b1c6;
    margin: 1.33333em 0em 0em 0em;
}
.blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}

/* img marshruty*/
.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.style-marshrut-card {
    width: 70%;
    margin: -5% 15% 5% 15%;
}
  
.fotosize-gory {
    width: 80%;
    margin: 3% 10% 5% 10% ;
}

.text-margin-gory {
  margin: 5% 5% 0 5%;
}
.text-margin-gory1 {
    font-size: 1em; 
    line-height: 1.5em;
  }

.text-gory-1 {
  margin: 5% 5% 0 5%;
}

.koordynaty {
  margin: 5% 5% 0 5%;
}

.blablacar-logo {
    width: 20%;
}

.bt-blacar {
    width: 15rem;
    min-width: 10rem;
    margin: 1%;
    padding: 1%;
    border: 1px solid rgb(214, 218, 217);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgb(58, 55, 55), 0 0 13px rgb(20, 20, 20);
}

.blacarpadding {
    padding: 5% 1%;
    border: none;
}


.margin-carusel {
    margin-top: 55px;
}
/* Large desktop */
@media (min-width: 1201px) and (max-width: 1600px) {
    .margin-carusel {
        margin-top: 58px;
    }
}
/* Large desktop */
@media (min-width: 980px) and (max-width: 1200px) {
    .margin-carusel {
        margin-top: 56px;
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .margin-carusel {
        margin-top: 57px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 640px) and (max-width: 767px) {
    .margin-carusel {
        margin-top: 20px;
    }
}
/* Landscape phone to portrait tablet */
@media (min-width: 600px) {
    .margin-carusel {
        margin-top: 20px;
    }
}

/* Landscape phone to portrait tablet */
@media (min-width: 480px) {
    .margin-carusel {
        margin-top: 20px;
    }
}
/* Landscape phones and down */
@media (max-width: 420px) {
    .margin-carusel {
        margin-top: 70px;
    }
}
/* Landscape phones and down */
@media (min-width: 412px) {
    .margin-carusel {
        margin-top: 60px;
    }
}
/* Landscape phones and down */
@media (min-width: 384px) {
    .margin-carusel {
        margin-top: 50px;
    }
}
/* Landscape phones and down */
@media (width: 375px) {
    .margin-carusel {
        margin-top: 50px;
    }
}
/* Landscape phones and down */
@media (min-width: 360px) {
    .margin-carusel {
        margin-top: 50px;
    }
}
/* Landscape phones and down */
@media (min-width: 320px) {
    .margin-carusel {
        margin-top: 57px;
    }
}
.border-none {
    border: none;
}

.margin-info {
    margin: 10px;
}

.pohid-img {
    float:left; 
    width: 50%; 
    margin-right: 4%; 
    margin-bottom: 1%;
}

.corysna-infa {
    width: 90%;
    min-width:20rem;
    margin: 2% auto;
}

.list-margin {
    margin: 3% 0 auto;
}

.vidhuk {
    max-width: 20rem;
    max-height: 42rem; 
    border: none;
}

/* Box styles */
.myBoxvidhuky  {
    padding: 3%;
    margin: auto;
    max-height:24rem;
    width:100%;
    overflow:auto;
}

.borderbox-vidhuky {
    border-style: groove;
    padding: 3%;
    margin: 2% auto;
    max-height:24rem;
    width:100%;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    font-family:sans-serif;
    font-size:0.8em;
    color: black;
}


/* modal zamovyty tyr*/
/* The Modal (background) */
.modaltur {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.style-modal-bg {
    background : rgba(20, 20, 20, 0.1);
    color: rgb(228, 228, 228);
}

/* Modal Content */
.modal-contenttur {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width:80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closetur {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closetur:hover,
.closetur:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-headertur {
    padding: 10px 16px;
    color: white;
}

.modal-bodytur {
    padding: 2px 16px;
}

.modal-form-tur {
    width: 100%; 
    margin: auto;  
    margin-top:56px; 
    border: none;
}

.margin-modal-tur {
    margin: 5% auto;
}
.modal-submit {
    margin: auto;
    margin-left: 8%;
}
.b-tur {
    width: 15rem;
    min-width:10rem; 
    margin: 10% auto;
    background-color: #008CBA;
    border: 1px solid rgb(214, 218, 217);
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgb(58, 55, 55), 0 0 13px rgb(20, 20, 20);
}

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(13, 150, 0);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.pogoda-style {
    max-width: 20rem; 
    min-width:15rem; 
    margin: auto; 
    margin-top:56px; 
    border: none;
}

.style-team { 
    padding: 4%;
    width: 100%;
    margin: auto;
}

.padding-team-title {
    padding: 4% 5% 22% 5%;
}

.teamwidth {
    width: 90%;
    margin: 2% 5% auto;
    border:none;
 }
.style-team-card {
    background : rgba(255, 255, 255, 0.7);
    color: rgb(15, 15, 15);
    min-width: 10rem; 
    max-height: 30rem;
}
.team-button {
    width:9rem; 
    margin:1%; 
    opacity: 0.8;
}
   
.border-team {
    border: 1px solid rgb(214, 218, 217);
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgb(58, 55, 55), 0 0 13px rgb(20, 20, 20);
}

/*footer*/
.style-footer-bg {
    background : rgba(20, 20, 20, 0.1);
    color: #fff
}

.style-footer-bg-card {
    background: linear-gradient(to left, #04a6c3 0%,#175685 90%);
}

.borderfooter {
    border: 1px solid rgb(214, 218, 217);
    box-shadow: 0 0 0 1px rgb(58, 55, 55), 0 0 13px rgb(20, 20, 20);
}

.style-footer2 {
    border: 1px solid rgb(214, 218, 217);
    box-shadow: 0 0 0 1px rgb(58, 55, 55), 0 0 13px rgb(20, 20, 20);
    width: 90%; 
    margin: 10px auto;
}

.cartfootertitle {
   margin: auto; 
   margin-top: 5%;
}

.maptitle {
   text-align:center;
   margin-left:4%;
   margin-right:3%;
}

.footer2-backgrond-card {
   background : rgba(20, 20, 20, 0.5);
   background: linear-gradient(to left, #04a6c3 0%,#175685 90%);
}

.footer2-padding {
    color: #fff;
    padding: 10px;
 }

 .text-opacity {
     opacity: 0.6;
 }

.colorsocial {
    color: rgb(0, 0, 0);
    margin: 3%;
    opacity: 0.8;
}

.title-footer-card-logo {
    margin-left: 20%; 
    margin-top:5%
}

.footer-width {
    width: 100%;
    margin: 2% 0 auto;
}



  

    
  